<ion-header>
  <ion-toolbar>
    <ion-title>Part One</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="page-number">Page 1</div>
    <div class="text-container">
      <p>A Tandem Ride With God</p>

          <p>I used to think of God as my observer, my judge, keeping track of the things I did wrong, so as to know whether I merited heaven or hell when I die. He was out there, sort of like a president. I recognized His picture when I saw it, but I didn't really know Him.</p>
          
          <p>But later on, when I met Jesus, it seemed as though life was rather like a bike, but it was a tandem bike, and I noticed that Jesus was in the back helping me pedal. I didn't know just when it was He suggested we change, but life has not been the same since I took the back-seat to Jesus, my Lord. He makes life exciting. When I had control, I thought I knew the way. It was rather boring, but predictable. It was the shortest distance between two points.</p>
    </div>
    <div class="footer">
      <ion-button class="btn" color="light" href="/toc">Previous</ion-button>
      <ion-button class="btn" color="light" href="/toc">Table of Contents</ion-button>
      <ion-button class="btn" color="light" href="/two">Next</ion-button>
    </div>
  </div>
</ion-content>