<ion-header>
  <ion-toolbar>
    <ion-title>Part Three</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="page-number">Page 3</div>
    <div class="text-container">
      <p>I did not trust Him, at first, in control of my life. I thought He'd wreck it, but He knows bike secrets, knows how to make it bend to take sharp corners, jump to clear high rocks, fly to shorten scary passages. And I am learning to shut up and pedal in the strangest places, and I'm beginning to enjoy the view and the cool breeze on my face with my delightful constant companion, Jesus.</p>

          <p>And when I'm sure I just can't do any more, He just smiles and says... "Pedal."</p>
          
          <p>(Author unknown)</p>
    </div>
    <div class="footer">
      <ion-button class="btn" color="light" href="/two">Previous</ion-button>
      <ion-button class="btn" color="light" href="/toc">Table of Contents</ion-button>
      <ion-button class="btn" color="light" href="/home">Back Home</ion-button>
    </div>
  </div>
</ion-content>