<ion-header>
  <ion-toolbar>
    <ion-title>Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <div class="toc-title">
          <h2>Click a page you'd like to navigate to!</h2>
        </div>
    <div class="page-nav-container">
      <div class="page-nav">
        <a class="nav-link one" href="/one">Part 1</a>
        <a class="nav-link two" href="/two">Part 2</a>
        <a class="nav-link three" href="/three">Part 3</a>
      </div>
    </div>
    <div class="footer">
      <ion-button class="btn" href="/home">Previous</ion-button>
      <ion-button class="btn" href="/one">Next</ion-button>
    </div>
  </div>
</ion-content>