<ion-header>
  <ion-toolbar>
    <ion-title>Part Two</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="page-number">Page 2</div>
    <div class="text-container">
        <p>But when He took the lead, He knew delightful long cuts, up mountains, and through rocky places and at break-through speeds; it was all I could do to hang on! Even though it often looked like madness, He said, "Pedal!" I was worried and anxious and asked, "Where are you taking me?" He laughed and didn't answer and I started to learn to trust. I forgot my boring life and entered into adventure. And when I'd say, "I'm scared", He'd lean back and touch my hand.</p>

            <p>He took me to people with gifts that I needed, gifts of healing, acceptance and joy. They gave me their gifts to take on my journey, our journey, my Lord's and mine. And we were off again. He said, "Give the gifts away; they're extra baggage, too much weight." So I did, to the people we met, and I found in giving I received, and still our burden was light.</p>
      </div>
    <div class="footer">
      <ion-button class="btn" color="light" href="/one">Previous</ion-button>
      <ion-button class="btn" color="light" href="/toc">Table of Contents</ion-button>
      <ion-button class="btn" color="light" href="/three">Next</ion-button>
    </div>
  </div>
</ion-content>